@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Karla:wght@400;700&display=swap");
/*font-family: 'Karla', sans-serif;*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  font-family: "Karla", sans-serif;
}

.container {
  background-color: hsl(204, 43%, 93%);
  width: 375px;
  height: 870px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  padding: 70px 35px;
}

.section {
  padding: 20px;
}

/*__________Section 1__________*/
.section-1 {
  background-color: white;
  height: 270px;
  border-radius: 5px 5px 0 0;
}

.section-1 h3 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 20px;
}

/*This is where I played with "nth-child" property  - just not to forget :)*/
.section-1 p:nth-child(2) {
  color: hsl(71, 73%, 54%);
  margin-bottom: 20px;
}

.section-1 p:nth-child(3) {
  color: hsla(217, 22%, 67%, 0.865);
  font-size: 13px;
  word-spacing: 1px;
  line-height: 22px;
  /* padding-right: 13px; */

  text-align: start;
}

/*__________Section 2__________*/
.section-2 {
  background-color: hwb(179 15% 33%);
  height: 225px;
}
.section-2 h3 {
  color: hsl(203, 44%, 93%);
  margin-bottom: 20px;
}
.price {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.dollar {
  font-weight: bold;
  font-size: 30px;
  margin-right: 10px;
  color: hsl(204, 43%, 93%);
}
.per-month {
  color: hsla(203, 44%, 93%, 0.447);
  font-size: 15px;
}
.access {
  color: hsla(203, 44%, 93%, 0.861);
  margin-bottom: 20px;
}

.button {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 260px;
  height: 50px;
  border: none;
  border-radius: 7px;
  background-color: hsl(71, 73%, 54%);
  font-size: 16px;
  color: hsl(203, 44%, 93%);
}

/*__________Section 3__________*/
.section-3 {
  background-color: hsl(179, 61%, 46%);
  height: 225px;
  border-radius: 0 0 5px 5px;
}

.section-3 h3 {
  color: hsl(204, 43%, 93%);
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  line-height: 20px;
}
li {
  font-size: 14px;
  color: hsla(203, 44%, 93%, 0.687);
  font-weight: 400;
}
