* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 375px;
  height: 667px;
  padding: 145px 25px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: aliceblue;
  height: 375px;
  width: 325px;
}
.header {
  height: 285px;
}
.card-upper {
  height: 140px;
}

.card-upper svg {
  width: 100%;
}

.card-lower {
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;

  border-bottom: 1px solid gray;
}
.footer {
  height: 90px;
  display: flex;
}
