@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  width: 375px;
  height: 667px;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  background-color: hsl(216, 50%, 16%);
  padding: 25px;
  border-radius: 13px;
}

.card {
  margin-bottom: 20px;
}

.equilibrium-img {
  width: 100%;
  border-radius: 13px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.text {
  margin-bottom: 20px;
}

.text h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  margin-bottom: 10px;
}

.text p {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: lighter;
}

.ethereum-card {
  float: left;
  font-weight: 600;
}

.ethereum-card img {
  float: left;
  margin-right: 8px;
}

.ethereum-card p {
  float: right;
  color: hsl(178, 100%, 50%);
}

.time-card {
  float: right;
}

.time-card img {
  float: left;
  padding-top: 2px;
}

.time-card p {
  float: right;
  margin-left: 8px;

  color: hsl(215, 51%, 70%);
}
/* Border and footer */
.border {
  clear: both;
  height: 1px;
  margin: 20px 0;

  background-color: hsl(215, 32%, 27%);
}
.footer {
}

.footer img {
  float: left;
  height: 30px;
  margin-right: 20px;
  margin-top: -5px;
}
.footer p {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

/* .footer p:link {
  color: white;
  font-weight: 300;
} */
a {
  text-decoration: none;
}

h2 a {
  color: white;
  font-weight: 300;
}

p a {
  color: white;
  font-weight: 300;
}

a:hover {
  color: cyan;
}
a::content {
}
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
